
/* -------------------Вариант 5-------------------- */

/* Нас почти полностью устраивает набор стилей 2 */
@import 'style2.css';

/* Плюс уникальные элементы 5-го варианта */

/* Внутренние блоки
-----------------------------------------------------------------------------*/
.block-orange, .block-cherry {
    width: 15vw;
    height: 8.5vh;
    
    position: absolute;
}

.block-orange {
    margin-left: 72vw;
    margin-top: 46.5vh;
}

.block-cherry {
    margin-left: 81vw;
    margin-top: 52vh;
}